@model HealthyEating.Models.Recipe

@{
    @* http://www.dotnetfunda.com/articles/show/3438/star-rating-system-in-aspnet-mvc *@
    ViewData["Title"] = "Details";
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    var imgurl = ViewBag.ImgUrl;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<div class="col-md-12">
    <div class="col-md-2 col-md-offset-4">
        <h4 style="margin-bottom:3px;">@Html.DisplayFor(model => model.RecipeName)</h4>
        <p>@Html.DisplayFor(model => model.Users.FullName)</p>
        <p id="RatingsControl" style="margin-left:-15px;">
            @{await Html.RenderPartialAsync("_RatingsControl");}
        </p>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <img src="@Url.Content(imgurl)" style="height:200px;width:200px;" />
    </div>

</div>
<div class="col-md-6">
    <h4>
        Ingredients
    </h4>
    @foreach (var item in Model.RecipeIngredients)
    {
        <p class="ingredient-list">
            @Html.DisplayFor(modelItem => item.Ingredients.IngredientName)
        </p>
    }

</div>
<div class="col-md-6">
    <h4>
        Recipe Description
    </h4>
    <p>@Html.DisplayFor(model => model.RecipeDescription)</p>
</div>

<div class="col-md-10">
    <a asp-action="Edit" asp-route-id="@Model.RecipeID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a href="/Menus"> Menu Overview </a>
</div>

<div>
    &ensp;
</div>


@section Scripts {
    <script>
        function SetScoreControlCallbacks(e) {
            var score = $("#RatingsControl a[Name='Score']")
            score.on('click', SetScore);
        }
        function SetScore(e)
        {
            var recipeid = $(this).data("recipeid");
            var score = $(this).data("score");

            var data = { recipeid: $(this).data("recipeid"), score: $(this).data("score") };

            $.post("@Url.Action("SetRating", "Recipes")", data)


                .done(function (respons, status, jqxhr)
                {
                    var url = "@Url.Action("RatingsControl", "Recipes")";
                    $("#RatingsControl").load(url, { recipeid: data.recipeid },
                        function (responsText, statusText, xhr)
                        {
                            switch (statusText)
                            {
                                case "success":
                                    SetScoreControlCallbacks();
                                    break;
                                default:
                                    break;
                            }
                        }
                    )
            })
        }
        $(document).ready(SetScoreControlCallbacks)
    </script>
}